In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns

df = pd.read_csv('./survey_results_public.csv')
num_vars = df[['Salary','CareerSatisfaction','HoursPerWeek','JobSatisfaction','StackOverflowSatisfaction']]
num_vars.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
0,NaN,NaN,0.0,NaN,9.0
1,NaN,NaN,NaN,NaN,8.0
2,113750.0,8.0,NaN,9.0,8.0
3,NaN,6.0,5.0,3.0,10.0
4,NaN,6.0,NaN,8.0,NaN

In [2]:
props_sals = 1- df.isnull()['Salary'].mean()
props_sals

0.26222385090566436

In [4]:
sal_rm = num_vars.dropna(subset=['Salary'])
sal_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

In [5]:
X = sal_rm[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction',
       'StackOverflowSatisfaction']]
y = sal_rm['Salary']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30, random_state=42)
lm_model = LinearRegression(normalize=True)

try:
    lm_model.fit(X_train, y_train)
except:
    print("Oh no! IT doesn't work!!!")

Oh no! IT doesn't work!!!

In [10]:
all_rm = num_vars.dropna(axis=0)

all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [12]:
X_2 = all_rm[['CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction',
       'StackOverflowSatisfaction']]
y_2 = all_rm['Salary']

X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2, test_size=.30, random_state=42)
lm_2_model = LinearRegression(normalize=True)

try:
    lm_2_model.fit(X_2_train, y_2_train)
except:
    print("Oh no! It doesn't work!!!")

In [13]:
y_test_preds = lm_2_model.predict(X_2_test)
r2_test =  r2_score(y_2_test, y_test_preds)

r2_test

0.019170661803762035